{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "panels": "./components/panels"
      }
    }],
    "transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
